@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee8c;
  background-image: linear-gradient(
    to bottom,
    #f8e7f8 0%,
    #f3d3fa 50%,
    #b96ad163 50%,
    #ca52f9 100%
  );
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #fff;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: height 0.6s linear;
  overflow-x: hidden;
  border-radius: 50px;
}

nav.active {
  height: 150px;
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: height 0.6s linear;
}

nav.active ul {
  height: 70%;
  width: 100px;
}

nav ul li {
  transform: rotateX(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateX(360deg);
}

nav ul a {
  position: relative;
  color: #d858c7;
  text-decoration: none;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: rgb(185, 21, 235);
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}